html {
    height: 100%;
    width: 100%;
}

body {
    background: #7678ED;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    width: 100%;
    text-align: center;
}

.logo {
    width: 16em;
    margin: 4em 0;
}

.title {
    color: #3D348B;
    font-weight: 600;
    font-size: 10em;
    margin: 0.2em;
}

.inputField {
    background: #4B3F9D;
    padding: 0.7em 1em;
    font-size: 2em;
    border: none;
    color: white;
    width: 60%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

.inputField::-webkit-input-placeholder {
    color: white;
    font-weight: 300;
}

.button {
    width: 20%;
    display: inline-block;
    background: #3D348B;
    padding: 0.7em 1em;
    font-size: 2em;
    color: white;
    border: none;
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
}

.button:hover {
    background: #4B3F9D;
    cursor: pointer;
}

.iframe {
    border: none;
    height: 10em;
    overflow-y: scroll;
    position: relative;
}

.score {
    font-size: 3em;
    margin-top: 0;
}

.tryAgain {
    border-bottom: 1px solid white;
    cursor: pointer;
    margin-bottom: 2em;
}

.loadingOverlay {
    position: absolute;
    height: 120%;
    width: 100%;
    z-index: 99;
    background: #7678ED;
    margin-top: -1em;
}

.grapes {
    width: 3em;
    transition: 1.5s ease-in-out;
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    -ms-animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}